@model PartyInvites.Models.GuestResponse



@{

    Layout = "/Views/Shared/_Layout.cshtml";

}



<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>

        .collapsible {
            background-color: #777;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }



            .active, .collapsible:hover {
                background-color: #555;
            }



        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
        }
    </style>

</head>

<body>



    <p>

        <h2>

            <strong>Frequently Asked Questions</strong>

        </h2>

    </p>

    <p><h4>Return Policy</h4></p>

    <button type="button" class="collapsible">Q. What is Freshly's Invitation return policy?</button>

    <div class="content">

        <p>

            All Freshly's Invitation locations will accept returns within a 30-day window of purchase. <br>

            There are two receipt options: paper receipt or digital receipt. <br>

            Returns will be refunded to the same payment method that was used to make the purchase.<br>

            Returns without a receipt:  <br>

            Over $10.00 will receive Freshly's Invitation Merchandise Gift Card. <br>

            Under $10.00 the customer will receive cash for their return. <br>

            In accordance with State Laws, the return of alcohol, beer, wine and tobacco is prohibited.

        </p>

    </div>

    <p><h4>Sales Tax</h4></p>

    <button type="button" class="collapsible">Q. What is sales tax policy?</button>

    <div class="content">

        <p>

            All Freshly's Invitation locations operate in states which are exempt from sales tax on groceries.<br>

            Keep in mind the tax exemption refers specifically to non-prepared grocery food. In some cases, items you buy at Freshly's Invitation

            such as soft drinks, candy and confection are not tax-exempt or are taxed a different rate. Also note that foods prepared

            for consumption at a grocery store are taxable in all states. Your state's gereral sales tax rate applies to the purchase

            of alcohol, beer, wine, and tobbaco products

        </p>

    </div>

    <p><h4>Customer Service Questions</h4></p>

    <button type="button" class="collapsible">Q. What are store hours, delivery hours, and customer service support line ours?</button>

    <div class="content">

        <p>

            This will be updated shortly with business hours

        </p>

    </div>

    <button type="button" class="collapsible">Q. How do I contact Freshly's Invitation customer service team? </button>

    <div class="content">

        <p>

            You may reach Freshly's Invitation customer serivce team by calling (888) 543-9999 or via email by clicking the link below<br />

            <a href="mailto:cyapparov@gmail.com" target="_top">Customer Service</a>.

        </p>

    </div>

    <button type="button" class="collapsible">Q. How does Freshly's Invitation ensure product freshness?</button>

    <div class="content">

        <p>

            Freshness and quality of items are cornerstones at Freshly's Invitation. We take great pride in the quality of our fresh food and packaged goods, <br>

            so we guarantee your satisfaction with every product, every time. No retail store can match the standard of cleanliness and quality at our fully refrigerated, <br />

            state-of-the-art facility. A range of temperature and humidity environments guarantee that every piece of meat, dairy and produce are stored in their optimal<br />

            climates. Our refrigerator-freezer trucks ensure items are delivered to neighborhood stores as cold and fresh as they were when they left our facility.<br />

            In addition, we take pride in our partnerships with local suppliers. We feel a responsiblity in contributing to the success of local vendors.

        </p>

    </div>

    <p><h4>Delivery Related Questions</h4></p>

    <button type="button" class="collapsible">Q. Are there any delivery or service fees?</button>

    <div class="content">

        <p>

            Yes, each delivery service provider has varied delivery and/or service fees.

        </p>

    </div>

    <button type="button" class="collapsible"> Q. Who are your delivery service providers and are do they require their background checks for their drivers?</button>

    <div class="content">

        <p>

            Freshly's Invitation delivery serivce providers inlcude Amazon Flex, Instacart, and Shipt.<br>

            The delivery service providers are background checked in accordance with each vendors hiring policy<br>

            <a href="https://www.shipt.com/">Shipt</a> <br>

            <a href="https://www.instacart.com/">Instacart</a> <br>

            <a href="https://flex.amazon.com/">Amazon</a> <br>





        </p>

    </div>

    <button type="button" class="collapsible">Q. How do I contact my delivery driver?</button>

    <div class="content">

        <p>

            In most cases, your delivery drivery is also your in-store shopper. You will recieve a text with your delivery driver's name, vehicle, and window for arrival when

            your order is being prepared. Your personal shopper will also notify you of any substitutions via text message. You will have the opportunity to accept, decline and/or

            provide addiitional special instructions regarding your order.

        </p>

    </div>

    <p><h4>Account User/Online Profile Questions</h4></p>

    <button type="button" class="collapsible">Q. What happens if I am locked out or unable to access my account </button>

    <div class="content">

        <p>

            If you are locked out of your account, you may reach Freshly's Invitation customer serivce team <br>

            by calling (888) 543-9999 or by emailing the Customer Service help desk. Either Freshly's Invitation<br />

            resource will assist with a profile unlock <a href="mailto:cyapparov@gmail.com" target="_top">Help Desk</a><br>

        </p>

    </div>

    <button type="button" class="collapsible">Q. How do I update account/profile details?</button>

    <div class="content">

        <p>

            If you would like to update account or profile details, you may do so by contacting Freshly's Invitation <br>

            customer serivce team by one of two ways, 1. calling (888) 543-9999 and customer service will <br />

            complete the requested updates, 2. Or via email request by clicking the link

            <a href="mailto:cyapparov@gmail.com" target="_top">Customer Service</a>

            <br>

        </p>

    </div>

    <button type="button" class="collapsible">Q. How do I contact my delivery driver?</button>

    <div class="content">

        <p>

            In most cases, your delivery drivery is also your in-store shopper. You will recieve a text with your delivery driver's name, vehicle, and window for arrival when

            your order is being prepared. Your personal shopper will also notify you of any substitutions via text message. You will have the opportunity to accept, decline and/or

            provide addiitional special instructions regarding your order.

        </p>

    </div>

    <p><h4>Goodwill</h4></p>

    <button type="button" class="collapsible">Q. What does Freshly's Invitation do to reduce their carbon footprint?</button>

    <div class="content">

        <p>

            Here at Freshly's Invitation, we contribute to bettering the environment and reducing out footprint in several ways. Both refrigerators and air conditioning<br />

            units release harmful chemicals and greenhouse gases that damage the atmosphere. All Freshly's Invitation stores are equipped with Green Refrigerants and<br />

            and Appliances. Our refrigerators stay cool  using naturally occurring hydrocarbons that are far less potent than HFCs and don’t break down into toxins.<br />

            In addition to Green Refrigerants and Appliance, we also put forth a tremendous effort in educating staff and customers. Change begins with knowledge. More than half of<br />

            Americans rarely – if ever – talk about climate change because they don’t know enough, are overwhelmed, or think it’s scary.All of these can be remedied with education<br />

            and civil conversation around the topic. At Freshly Invitation, we want to promote dialogue among employees and customers through company practices and policies around<br />

            sustainability.



        </p>

    </div>

    <script>

        var coll = document.getElementsByClassName("collapsible");

        var i;



        for (i = 0; i < coll.length; i++) {

            coll[i].addEventListener("click", function () {

                this.classList.toggle("active");

                var content = this.nextElementSibling;

                if (content.style.display === "block") {

                    content.style.display = "none";

                } else {

                    content.style.display = "block";

                }

            });

        }

    </script>

</body>