@{
    Layout = "/Views/Shared/_Layout.cshtml";
    }



    <div>
        <br/><br/>
        <h2><strong>Welcome to Freshly's Invitation</strong></h2><br/>
    </div>


    <div>
       <ul>
       <h3><li>Where Everything is Fresh</li></h3><br/>
    
    
    
        <h3><li>Where Everyone is Welcome</li></h3><br/>
        
        <h3><li>And No Invitation is Needed</li></h3><br/><br/>

         </ul>
    </div>
        <img src ="https://q9h7k7d8.rocketcdn.me/app/uploads/2015/11/mikkelpaige-budget_savvy_bride-envelope_liner_tutorial-28.jpg"width="425" height="300"/><br/><br/><br/>
