@model PartyInvites.Models.GuestResponse
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    In  the  FAQ  page,  create  at  least  10  questions  and  answers  regarding  the  company,<br>
    products, ordering, and registration. The questions<br>
    should be listed at the top of the page and each question<br>
    should hyperlink to the corresponding answer within the document.<br>

   




</div>




    <p>
        <h1>
            Deal of the DAY!

        </h1>
        Hello customer We are running a special on toilet paper today. 30% off <br><br>



    </p>


    <p>

        <h1>
            daily news

        </h1>

        Our website will be up on january 31st we suggest all customers to <br>
        stop by and check out our bran new website<br><br>

    </p>




    <p>
        our employee of the month is James carol <br>
        he has workled for us for 3 years and is one of our hardest workers at his location<br><br>


        <div class="row">
            <div class="column">
                <img src="https://media.istockphoto.com/photos/portrait-fo-latino-employee-in-supermarket-picture-id1204025740?k=6&m=1204025740&s=612x612&w=0&h=4IZkWPtB_Aj5rGus6RoZO74hvC18ngq5ZAQSjB4RncU=" alt="Snow" style="width:100%">
            </div>

    </p>

