
@{
    Layout = "/Views/Shared/_Layout.cshtml";


}


<div class="jumbotron text-center">
    <h1 class="display-3">Thank You For Your Purchase!</h1>
    <p class="lead"><strong>Please check your email, your order number is 1.</strong>You will receive an email confirmation once your order is ready for pickup</p>
    <hr>
    <p>
        Having trouble? <a href="">Contact us</a> <!--Need to get the link for Customer Service-->
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/Home" role="button">Continue to homepage</a>
    </p>
</div>